#frontboxes div{
	width:200px;
	height:145px;
	float:right;
	background-repeat:no-repeat;
	box-shadow: 3px 2px 5px  #999; -moz-box-shadow: 3px 2px 5px  #999; -webkit-box-shadow: 3px 2px 5px  #999; /*box-shadow: h-shadow v-shadow blur spread color inset*/
}

#frontboxes a:link{
	width:100%;
	height:100%;
	display:block;
	/*padding:10px;*/
}

#tilFrivillig, #tilSamarbejdspartner{
	margin:10px 0 0 0;
}

/**/

#digSomUng a{
	background-image: url(../images/boxknapper2.jpg);
	background-position:0px 0px;
}

#tilFrivillig a{
	background-image: url(../images/boxknapper2.jpg);
	background-position: 0px -145px;
}
#tilSamarbejdspartner a{
	background-image: url(../images/boxknapper2.jpg);
	background-position: 0px -290px;
}

#digSomUng a:hover{
	background-position:-200px 0px;
}

#tilFrivillig a:hover{
	background-position:-200px -145px;
}

#tilSamarbejdspartner a:hover{
	background-position: -200px -290px;
}

/***Footer Views***/

#footer{
	min-height:100px;
}

.footerLeft{
	width:auto;
	float:left;
}

.footerRight{
	width:auto;
	float:right;
}

.views-row-last .footerRightCfdp{
	display:none;
}


/***Read more style for a txt summery***/

.node-readmore a{
	color: #009;
}
.node-readmore a:hover{
	color: #006;
}

/***Nyheds slideshow***/
.nyhedsSlideshowBlok{
	height:470px;
}

.views-field-field-slideshow-title{
	position:absolute;
	top:0.5em;
	left:-0em;
	font-family:Arial, Helvetica, sans-serif;
	color: #000;
	font-weight: bolder;
	font-size:24px;
	display:block;
	min-width:30%;
	padding:10px 5px 10px;
	opacity:0.9;
	background-color: #f5f4ee;
	box-shadow: 2px 2px 4px #999;-moz-box-shadow:  2px 2px 4px #999; -webkit-box-shadow:  2px 2px 4px #999; /*box-shadow: h-shadow v-shadow blur spread color inset*/

}